* {
  box-sizing: border-box;
}

.feedback-form {
  width: 408px;
  margin: 10px auto 0;
  padding: 24px;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form label {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.feedback-form label:last-of-type {
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;

  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  outline: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover,
textarea:hover {
  border: 1px solid #000;
}

input:active,
textarea:active {
  border: 1px solid #808080;
}

textarea {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;

  border: 1px solid #808080;
  border-radius: 4px;

  height: 80px;
  outline: none;
  resize: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
